<!--featureRequestForm html page consists of form page with all the required input elements for creating a feature request-->
<html>
<!-- Head section consists of title of application and source script files knockoutjs and jquery, bootstrap-->

<head>
  <title>BriteCore Feature Request App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{ url_for ('static', filename='js/knockout-3.4.2.js')}}"></script>
  <!-- extends base html page -->
  {% extends "base.html" %}
  <!--Style elemetns for base html-->
  <style>
    code {
      background-color: white
    }

    label {
      text-align: left;
    }
  </style>
</head>

<body>
  {% block content %}
  <div class="container">
    <div class="col-md-offset-2">
      <h3 style="text-align: center;">
        <b>Feature Request Form</b>
      </h3>
    </div>
    <br>
    <!--Form which includes Title,Description,Client,Client Priority,Target Date,Product Area and is binded using Knockout.js concept-->
    <form class="form-horizontal" data-bind="submit:onSubmit">
      <div class="form-group">
        <label class="col-sm-4 control-label">Title:</label>
        <input type="text" class="form-control" id="title" pattern="[A-Za-z]{1,50}" title="Please don't enter alphanumeric values"
          data-bind='value: title, valueUpdate: "afterkeydown"' name="Title" style="width:50%;" required>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">Descripiton:</label>
        <textarea type="text" class="form-control input-lg" id="description" maxlength="1000" name="Description" style="width:50%;"
          data-bind='value: description' required /></textarea>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">Client:</label>
        <select class="form-control" id="sel1" style="width:50%;" data-bind="value: client" required>
          <option>Select</option>
          <option>Client A</option>
          <option>Client B</option>
          <option>Client C</option>
        </select>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">Client Priority:</label>

        <input class="form-control" id="clientPriority" style="width:50%;" type="number" min="1" pattern="[0-9]" data-bind='value: clientPriority, valueUpdate: "afterkeydown"'
          required />

      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">Target Date:</label>
        <input type="date" class="form-control" id="TargetDate" name="Target Date" style="width:50%;" max="2019-02-26" data-bind='value: targetDate, valueUpdate: "afterkeydown"'
          required />
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">Product Area:</label>
        <select class="form-control" id="sel2" style="width:50%;" data-bind="value: productArea" required>
          <option>Select</option>
          <option>Policies</option>
          <option>Billing</option>
          <option>Claims</option>
          <option>Reports</option>
        </select>
      </div>
      <br>
      <br>
      <div class="form-group">
        <div class="col-sm-7 col-sm-offset-6">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>

  </div>
  </form>
  </div>
  <script type='text/javascript'>
    //function featureRequestViewModel() consists of title, description, client, client priority,target date and product area fields.
    var featureRequestViewModel = {
      title: ko.observable(""),
      description: ko.observable(""),
      client: ko.observable(""),
      clientPriority: ko.observable(""),
      targetDate: ko.observable(""),
      productArea: ko.observable("")
    };
    self.onSubmit = function () {
      //Performs a ajax POST call to below url with JSON data from featureReuqestViewModel
      $.ajax({
        url: '/createfeature',
        type: 'POST',
        data: ko.toJSON(featureRequestViewModel),
        contentType: 'application/json',
        success: function (result) {
          //Resoponse from ajax POST call is stored in result variable
          if (result == "success") {
            alert("Record inserted Sucessfully");
            window.location = "/featureRequestDetails";
          }
          else {
            alert(result)
          }
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
          alert("Error Occured. Please contact your administrator");
        }
      });
    };
    //Apply bindings to featureRequestViewModel
    ko.applyBindings(featureRequestViewModel);
    //Script for restricting to enter past dates
    var now = new Date(), minDate = now.toISOString().substring(0, 10);
    $('#TargetDate').prop('min', minDate);
  </script> {% endblock %}
</body>

</html>