<html>

<head>
    <!-- Importing bootstarp and jquery library files-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for ('static', filename='js/jquery.dataTables.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for ('static', filename='js/featureRequestDetails.js')}}"></script>
    <!-- extends base html page -->
    {% extends "base.html" %}
</head>

<body>    
    {% block content %}
    <div class="container" style="min-height: 540px;">
        <h2 style="text-align: center;">
            <b>Request Details</b>
        </h2>
        <!-- Table to display feature request details-->
        <div>
            <div class="table table-responsive">
                <table class="table table-bordered" id="Featurestable" style="margin:center;">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Client</th>
                            <th>ClientPriority</th>
                            <th>TargetDate</th>
                            <th>ProductArea</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

        {% endblock %}

</body>

</html>